.main-header {
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.5);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.logo{
  height: 10vw;
}
.y{
  z-index: 1000;
}
.scroll-button{
  padding: 10px;
  width: 10em;
  border: none;
  font-weight: bold;
  border-radius: 5em;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.scroll-button:hover{
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
}
.Header{
  background-image: url('../../public/assets/car-1077060_960_720.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
