.dropdown {
  font-size: 18px;
  width: 80vw;
  margin:auto;
  margin-bottom: 2vw;
  border-bottom: 0.3vw solid #c3c1c1;
}

.search-filter {
  background: #dadada;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  height: 54px;
  margin-bottom: 50px;
  position: relative;
  margin: 0;
  height: 4vw;
  background-color: #dadada;
}

.search-filter a{
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 25%;
  height: 100%;
}

.search-filter > a:hover{
  background: #c3c1c1;
  font-weight: bold;
}

.under-menu{
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
  background: #c3c1c1;
}

.under-menu a{
  text-decoration: none;
  color: white;
  margin: 0.3vw 0;
}

.under-menu a:hover{
  font-weight: bold;
}

.sub-under-menu{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
  height: 5vw;
  background-color: #c3c1c1;
}
.sub-under-menu a{
  cursor: pointer;
}
.fr::before {
  padding: 0 0 3px 30px;
  content: ' ';
  background: url('../../public/assets/icons/france.png') no-repeat;
  width: 24px;
  height: 24px;
}

.jp::before {
  padding: 0 0 3px 30px;
  content: ' ';
  background: url('../../public/assets/icons/japan.png') no-repeat;
  width: 24px;
  height: 24px;
}

.en::before {
  padding: 0 0 3px 30px;
  content: ' ';
  background: url('../../public/assets/icons/united-kingdom.png') no-repeat;
  width: 24px;
  height: 24px;
}

.under-menu .fa {
  margin-right: 5px;
}
