.main-header {
  margin: 0 auto;
  background-color: rgba(255, 0, 0, 0.5);
  height: 100vh;
  display: flex;
  justify-content: center;
}

.logo{
  height: 5em;
}

.Header{
  background-image: url('../../public/assets/car-1077060_960_720.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
