/* HELPERS */

.group:after {
  content: "";
  display: table;
  clear: both;
}
.body {
  background-color: #f1f1f1;
}

.stickyDropDown{
  margin-top: 36px;

}

.grid {
  width: 80%;
  margin: 0 auto;
  width: 100%;
  background-color: lightgrey;

}
.grid-wrapper{
  margin: auto;
  width: 80%;
}

.button-wrapper{
	display:flex;
	flex-direction: row;
	justify-content: center;
}
