#bouton{

	display: flex;
	justify-content: space-around;
}

#nav_language{
	padding: 10px;
	cursor: pointer;

}

#nav_age{
	padding: 10px;
	cursor: pointer;

}

#nav_format{
	padding: 10px;
	cursor: pointer;

}

#nav_niveau{
	padding: 10px;
	cursor: pointer;

}

.header{
	justify-content: center;
	display: flex;
	flex-direction: column;
}


.formul {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.container{

	justify-content: center;
	margin-top: 100px;


}

.lien{
  display:flex;
  justify-content: center;
}
