.header{
  width: 100%;
  height: 72.3px;
  background-color: rgba(255, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  border:2px solid red;
}
.logo2{
    height: 5em;
    margin-left: 200px;
}
.imgContain{
  display: flex;
  justify-content: center;
  border:2px solid red;
  width:70%;
}
@media screen and (max-width: 990px) {
  .logo2 {
    margin-left: -100px;
  }
  .header{
    justify-content: flex-end;
  }
}
@media screen and (max-width: 770px) {
  .btn-contain{
    margin-left: -200px;
  }
  .header{
    justify-content: center;
  }
}
@media screen and (max-width: 660px) {
  .header{
    justify-content: flex-end;
  }
}

.button3 {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button-container{
  display: flex;
  justify-content: flex-end;
  width:30%;
  margin-right:50px;
  border:2px solid red;
}



.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 9999;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.btn{
  border-radius: 10px;
}

.contain-btn{
  margin-left: 70px;
}

.content{
  text-align: center;
}

h2{
  text-align: center;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
