/* HELPERS */

.group:after {

  content: "";

  display: table;

  clear: both;

}



.body {

  background-color: #f1f1f1;

}



.grid {
width: 80%;
  margin: 0 auto;
  width: 100%;

}
.grid-wrapper{
  margin: auto;
  width: 80%;
}
.button-wrapper{
	display:flex;
	flex-direction: row;
	justify-content: center;
>>>>>>> 22bf02c5e16dc5efb4bb9d6226be39ff28ad596a:Annuaire/src/grid/Grid.css
}
