.input {
  justify-content: center;
  display: flex;
  position: relative;
}
.search-bar {
  width: calc(80vw - 19px);
  height: 70px;
  font-size: 3vw;
  margin: 0;
  border: 2px solid #D3D3D3;
  padding-left: 15px;
}
.border-anim:before{
  content: '';
	position: absolute;
	bottom: 0px;
  height: 0px;
	width: 100%;
  background-color: #b8b4b4;
	border-bottom: 2px solid #b8b4b4;
  display: flex;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
}
.border-anim:hover:before{
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
.search-bar:focus{
  outline: 0;
}
