.input {
  justify-content: center;
  display: flex;
  position: relative;
}
.search-bar {
  width: calc(80vw - 19px);
  /*height: 70px;*/
  font-size: 1vw;
  margin: 0;
  /*border: 2px solid #D3D3D3;*/
  /*padding-left: 15px;*/
}
.border-anim:before{

  content: '';
	position: absolute;
	bottom: 0px;
  height: 100%;
	width: 100%;
  background-color: #b8b4b4;
	border-bottom: 2px solid #b8b4b4;
  display: flex;
}

.search-bar:focus{
  outline: 0;
}
